@page "/DetailsClient/{ClienteId:int}"
@inject HttpClient httpClient

<div class="card shadow-lg">
    <div class="card-header">
        <h3>Detalles del cliente</h3>
    </div>
    <div class="card-body">
        <p>ClienteId: @Cliente.ClienteId</p>
        <p>Nombre: @Cliente.Nombre</p>
        <p>Tel&eacute;fono: @Cliente.Telefono</p>
        <p>Celular: @Cliente.Celular</p>
        <p>RNC: @Cliente.RNC</p>
        <p>Email: @Cliente.Email</p>
        <p>Direcci&oacute;n: @Cliente.Direccion</p>
    </div>
    <div class="card-footer">
        <a href="IndexClient" class="btn btn-primary bi bi-arrow-left-square-fill">Atrás</a>
    </div>
</div>
@code {

    [Parameter]
    public int ClienteId { get; set; }
    public Clientes Cliente { get; set; } = new Clientes();
    public string Mensaje = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        if(ClienteId > 0)
        {
            Cliente = (await httpClient.GetFromJsonAsync<Clientes>($"api/Clientes/{ClienteId}"))!;
        }
    }
}
